table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: white;
  
  }
  .fh1 {
      text-align: center;
  }
  form{
    color: white;;
  }
  fieldset{
    width: fit-content;
  }